<!DOCTYPE html>
}<html lang="en">

    <!-- HEAD -->
    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
        <main>
            <h3>Lista de Cursos</h3>
            <section class="main-section">
                <div class="curso-container">
                    <div class="cursos">
                        <% cursos.forEach(curso=> { %>
                            <div class="curso-under">
                                <figure class="curso-image">
                                    <img src="/images/<%= curso.img %>" />
                                    <div class="curso-over">
                                        <a href="/products/<%= curso.id %>"></a>
                                    </div>
                                </figure>
                                <div class="curso-summary">
                                    <h4>
                                        <%= curso.titulo %>
                                    </h4>
                                    <p>
                                        <%= curso.descripcionClase %>
                                    </p>
                                    <p>
                                        <%= curso.descripcionDocentes %>
                                    </p>
                                    <h6 class="price">
                                        $<span class="priceValue">
                                            <%= curso.precio %>
                                        </span>
                                    </h6>
                                    <button class="btn btn-small addToCart" data-curso-id="3">
                                        <i class="fas fa-cart-plus"></i>Add to cart
                                    </button>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>